<div class='row'>
  <h1 class='text-center front-page'>Front Page</h1>
  <hr>
</div>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
  <table>
    <% @posts.each do |post| %>
    <tr>

      <td>
        <%= bootstrap_form_for [post,@vote] do |f| %>
        <%= f.hidden_field :value, value: "1" %>

        <%= f.button "", :class => 'btn btn-primary btn-xs glyphicon glyphicon-arrow-up' %>
        <% end %>
      </td>
      <td>
        <%= bootstrap_form_for [post,@vote] do |f| %>

        <%= f.hidden_field :value, value: "-1" %>
        <%= f.button "", :class => 'btn btn-danger btn-xs glyphicon glyphicon-arrow-down' %>
        <% end %>
      </td>

      <td>
        <%= post.votes.reduce(0){|sum,v| sum + v.value} %>
      </td>
      <td class='front-posts'>
        <a href='<%= post.link %>'><%= post.title %></a>
      </td>

      <td>
        <small><%= post.user.username %></small>
       </td>
       <td>
         <%= link_to 'Comments', post_path(post.id), :class => 'btn btn-primary btn-xs' %>
       </td>

    <tr>

    <% end %>
  </table>
</div>