<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1 class='text-center'>Add Post</h1>

    <%= render 'layouts/flash' %>



    <%= bootstrap_form_for @post do |f| %>
      <%= f.text_field :title, placeholder: 'Enter title of article' %>
      <%= f.text_field :link, placeholder: 'Enter link to article' %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>
