<h1 class='text-center'><%= @post.title %></h1>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>
<%= bootstrap_form_for [@post,@comment] do |f| %>
<%= f.text_field :body,hide_label: true, placeholder: 'Enter new comment' %>
<%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>
</div>
<div class='row'>
<h2 class='text-center'>Comments</h2>
<div class='col-md-6 col-md-offset-3'>
<table>
<% @comments.each do |comment| %>
<tr>
<td>
    <%= comment.body %><br><small><%= comment.user.username %></small>
</td>
<td>
  <%= comment.votes.reduce(0){|sum,v| sum + v.value} %>
</td>
<td>
  <div class='vote-button'>
  <%= bootstrap_form_for [@post,comment,@vote] do |f| %>
  <%= f.hidden_field :value, value: "1" %>

  <%= f.button "", :class => 'btn btn-primary btn-xs glyphicon glyphicon-arrow-up upvote' %>
  <% end %>
  </div>
  </td>
  <td>
  <div>
  <%= bootstrap_form_for [@post,comment,@vote] do |f| %>

  <%= f.hidden_field :value, value: "-1" %>
  <%= f.button "", :class => 'btn btn-danger btn-xs glyphicon glyphicon-arrow-down downvote' %>
  <% end %>
  </div>
</td>
</tr>
<% end %>
</table>
</div>
</div>