<!DOCTYPE html>
<html>
<head>
  <title>UrlLister</title>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS & JS -->
</head>
<body>
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#"><%= "#{@current_user.username}" if @current_user %></a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <% if !@current_user %>
        <li>
          <a href="/login/">Login</a>
        </li>
        <li>
          <a href='/signup/'>Sign Up</a>
        </li>
      <% end %>
      <% if @current_user %>
        <li>
          <a href='/posts/new'>Add Post</a>
        </li>
        <li>
          <%= link_to 'Your Posts', show_path %>
        </li>
        <li>
          <a href='/logout/'>Logout</a>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class='container'>
    <div class='row'>
  <%= render 'layouts/flash' %>
    </div>

<%= yield %>

  </div>
</body>
</html>
